<div class="footer">
  <div class="footer-links">
    <a href="https://fr-fr.facebook.com/badminton.barr/" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Ce pied de page est fait avec <i class="fas fa-heart"></i> par le Badminton Club de Barr :)
  </div>
</div>
