.bcbb-btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.bcbb-btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.bcbb-btn-medium-warning {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.bcbb-btn-medium-warning:hover {
  opacity: 1;
  text-decoration: none;
  border: 1px solid #FF8C00;
  color: #FF8C00;
}

.bcbb-btn-medium-danger {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.bcbb-btn-medium-danger:hover {
  opacity: 1;
  text-decoration: none;
  border: 1px solid #DC143C;
  color: #DC143C;
}

.bcbb-btn-medium-primary {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.bcbb-btn-medium-primary:hover {
  opacity: 1;
  text-decoration: none;
  border: 1px solid #6495ED;
  color: #6495ED;
}

.bcbb-btn-big-blue {
  width:175px;
	height:175px;
  font-weight: lighter;
  text-align: center;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	border-radius:50%;
	color:#555;
}
.bcbb-btn-big-blue:hover {
  //opacity: 1;
  text-decoration: none;
  border: 1px solid #6495ED;
  //color: #F0FFFF;
}
